
ISM_sphere.npz

__pycache__/

*.iml

*.xml

PINNs/PINN_checkpoints/

PINNs/wandb/

PINNs/SIREN_checkpoints/

BPINN-numpyro/BPINN_checkpoints/

BPINN-numpyro/wandb/

PINNs/SIREN_torchmeta2/

Data/Datasets_SoundFieldControlRoom/

Data/

*.log

PINN_LBFGS/wandb/run-20220928_102405-2x4fom2d/files/

*.json

*.wandb

*.yaml

PINN_LBFGS/wandb/run-20220927_124025-1l1dwkhu/files/media/images/

PINN_LBFGS/wandb/latest-run

PINN_LBFGS/wandb/run-20220926_162528-1omlz65x/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_162603-2c7wpbm8/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_162720-2y5d2tu2/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_163312-3shgngrv/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_163448-3uqf5qr6/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_163730-1df3ve51/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_163829-2c6l75p3/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_164515-w91kmecr/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_164815-3mssztmd/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_165215-g6q3sg15/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_165728-21xcw80l/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_170159-1fo2u93g/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_170300-2vvva6f2/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_170349-1wxud5j8/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_170502-2xrteuf7/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_170911-1m6auth6/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_170956-3qk4evrb/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_171057-1oo1siw9/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_171128-2od1t99a/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_174251-15c7j9vy/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_174334-xg8wahqy/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_174500-1jwljnpp/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_175410-it8hwpwf/files/requirements.txt

PINN_LBFGS/wandb/run-20220926_175629-3unor7ye/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_104911-760um5ac/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_105240-2by8o7ag/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_105506-3i7hdk4l/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_105550-35ob7n36/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_105615-2i9tkj7o/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_105728-ao18968b/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_105805-3bjkjqa9/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_110124-396ezvsl/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_110412-2a8p7cgt/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_110552-96yfyc2v/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_110628-2eizi9am/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_110838-20qtht1k/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_111815-2drlhwpe/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_112119-3evns8qq/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_112244-kq70g0hs/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_112443-1vj4v84e/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_112649-3im06s63/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_112758-cru9h1lt/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_112940-2fgi0f36/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_113127-8qgfkpf0/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_115315-1tuaa2hl/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_123446-fwfs7iqg/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_123657-25a4hnog/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_123809-1xsjvvqo/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_123856-1xvebwcz/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_124025-1l1dwkhu/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_132240-3vhawf0q/files/media/images/Sound_Fields_5_261b75272ed60bfd1749.png

PINN_LBFGS/wandb/run-20220927_132240-3vhawf0q/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_132555-2soxhcuk/files/media/images/Sound_Fields_17_8f6a09f1474b58632659.png

PINN_LBFGS/wandb/run-20220927_132555-2soxhcuk/files/media/images/Sound_Fields_29_4779cc58f25af27abf83.png

PINN_LBFGS/wandb/run-20220927_132555-2soxhcuk/files/media/images/Sound_Fields_41_9d70c1bfa339fb5222bc.png

PINN_LBFGS/wandb/run-20220927_132555-2soxhcuk/files/media/images/Sound_Fields_5_55687f32aabe4141fe9f.png

PINN_LBFGS/wandb/run-20220927_132555-2soxhcuk/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_133228-269xxhd7/files/requirements.txt

PINN_LBFGS/wandb/run-20220927_133328-3ookoedl/files/media/images/Sound_Fields_17_36ed9b24e73132ae1060.png

PINN_LBFGS/wandb/run-20220927_133328-3ookoedl/files/media/images/Sound_Fields_29_7d665ae8826a067b0e2f.png

PINN_LBFGS/wandb/run-20220927_133328-3ookoedl/files/media/images/Sound_Fields_5_855d2170bd74b8b4337b.png

PINN_LBFGS/wandb/run-20220927_133328-3ookoedl/files/requirements.txt

*.h5
